
.container {
    padding: 20px;
    width: 2560px;
    background-color: white;
    display: flex;
    align-items: center; 
    gap: 700px; 
    margin:0;
  
}
.container2 {
    padding: 20px;
    width: 2560px;
    background-color: black;
    display: flex;
    align-items: center; 
    gap: 160px; 
    margin:0;
  
}
.sidenavb a {
	 display: flex;
  padding: 10px 8px 6px 70px;

  margin: 0 auto;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  align-items: center; 
      background-color: black;
}
	